/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines user path for input files and user
 * parameters for workflow processes
 */

params {

    /* --------------------------------------
     *  General parameters
     * --------------------------------------
     */

    // Analyzed project name
    projectName = ""
    
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

}
