/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines report parameters
 */

// Report directory
reports = "${params.outdir}/01_run_info"

// Produce the html report file (report.html)
report {
    enabled = true
    overwrite = true
    file = "${reports}/report.html"
}

// Create a diagram of tasks (dag.svg)
dag {
    enabled = true
    overwrite = true
    file = "${reports}/dag.svg"
}

// Produce a html timeline report (timeline.html)
timeline {
    enabled = true
    overwrite = true
    file = "${reports}/timeline.html"
}

// Enable trace to get a detailed report on each task trace.txt
trace {
    enabled = true
    overwrite = true
    fields = 'task_id,hash,native_id,process,status,exit,queue,cpus,%cpu,memory,%mem,rss,time,realtime'
    file = "${reports}/trace.tsv"
    sep = '\t'
}
